* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Digital Clock CSS*/
.watch {
    height: 30%;
    width: 25%;
    display: grid;
    grid-template-rows: 40% 65%;
    align-items: center;
    justify-content: center;
    border: .3rem solid #1a1a1a;
    border-radius: 2.5rem;
}

h2 {
    margin-top: 1.5rem;
    font-size: 2.7rem;
    text-align: center;
    padding: 0 1rem;
    border-bottom: 2px solid #1a1a1a;
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
    width: 25%;
    height: 4rem;
    align-items: center;
    color: #fff;
    background-color: #1a1a1a;
    border-radius: 1rem;
    font-size: 1rem;
    overflow: hidden;
}

.clock p {
    font-size: 1rem;
}

.front-clock {
    text-align: center;
    padding-top: 1rem;
    background-color: #0d0d0d;
    width: 95%;
    height: 95%;
    border-radius: 1rem;
    z-index: 1;
}

@media (max-width: 1024px) {
    .watch {
        width: 50%;
    }
}
@media (max-width: 590px) {
    .watch {
        width: 70%;
        grid-template-rows: 20% 80%;
    }
    h2 {
        display: grid;
        grid-template-rows: 33% 33% 33%;
    }
    .clock {
        width: 18vw;
        margin: 0;
        margin-top: 1.5rem;
    }
}

/* Todo List CSS */
.container {
    align-items: center;
    background: linear-gradient(135deg, #3fce3a, #2702ad);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    width: 100%;
}

.todoBox {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}

h1 {    
    color: #3fce3a;
    margin-bottom: 20px;
    text-align: center;
}

.inputBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c4c5c7;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    border: none;
    background: none;
    flex: 1;
    font-weight: 10px;
    outline: none;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #3fce3a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

#todo-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin-top: 30px;
    width: 100%;
}

.todoItems {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.todos {
    align-items: center;
    display: flex;
    gap: 10px;
}

.todos input {
    height: 20px;
    width: 20px;
}

.completed p {
    text-decoration: line-through;
    color: #c4c5c7;
}

.todoItems .checkbox {
    cursor: pointer;
}

.todoItems img {
    cursor: pointer;
    height: 24px;
    margin: 0 10px;
    width: 24px;
}